<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{userpage.header}"/>
    <link th:href="@{/css/userPage.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<div th:text="|#{registration.email}: ${user.email}|"/>
<br>
<div th:text="|#{userpage.name}: ${user.firstname} ${user.lastname}|"/>
<br>
<div th:text="|#{registration.birthDate}: ${user.birthDate}|"/>
<br>
<a th:href="@{'/portfolio/create'}"><button th:text="#{userpage.addPortfolio}"/></a>
<table>
    <thead>
    <tr>
        <th th:text="#{userpage.portfolioName}"/>
        <th th:text="#{userpage.portfolioDescription}"/>
        <th th:text="#{userpage.portfolioAssets}"/>
        <th th:text="#{userpage.portfolioProfit}"/>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="portfolio : ${portfolios}">
        <td th:text="${portfolio.name}">Portfolio name</td>
        <td th:text="${portfolio.description}">Description Placeholder</td>
        <td th:text="${portfolio.assets.toString()}">Assets Placeholder</td>
        <td th:text="${portfolio.profit.toString()}">Profit placeholder</td>
        <td><a th:href="@{'/portfolio/' + ${portfolio.id}}">
            <button type="button" th:text="#{userpage.view}"/>
        </a></td>
    </tr>
    </tbody>
</table>
</body>
</html>