<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{userpage.header}"/>
    <link th:href="@{/css/userPage.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div th:insert="~{fragment::header}"></div>
<div class="userPage">
    <div class="parallel">
        <div class="userInfo">
            <p th:text="|#{registration.email}: ${user.email}|"/>
            <p th:text="|#{userpage.name}: ${user.firstname} ${user.lastname}|"/>
            <p th:text="|#{registration.birthDate}: ${user.birthDate}|"/>
            <a th:href="@{'/portfolio/create'}">
                <button th:text="#{userpage.addPortfolio}"/>
            </a>
        </div>
        <div style="width: 250px">
            <canvas id="chart"></canvas>
            <script th:inline="javascript">
                var names = [[${chartData.keySet()}]];
                var profits = [[${chartData.values()}]];
                const ctx = document.getElementById('chart');

                new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: names,
                        datasets: [{
                            label: 'Portfolio Profit',
                            data: profits,
                            borderWidth: 1
                        }]
                    }
                });
            </script>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th th:text="#{userpage.portfolioName}"/>
            <th th:text="#{userpage.portfolioDescription}"/>
            <th th:text="#{userpage.portfolioAssets}"/>
            <th th:text="#{userpage.portfolioProfit}"/>
            <th class="uncolored"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="portfolio : ${portfolios}">
            <td th:text="${portfolio.name}">Portfolio name</td>
            <td th:text="${portfolio.description}">Description Placeholder</td>
            <td th:text="${portfolio.assets.toString()}">Assets Placeholder</td>
            <td th:text="${portfolio.profit.toString()}">Profit placeholder</td>
            <td class="uncolored"><a th:href="@{'/portfolio/' + ${portfolio.id}}">
                <button type="button" th:text="#{userpage.view}"/>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>