@import url(parent-styles.css);
.main-header{
    background-color: #E2D3BD;
}

.nav-bar a {
    color: #000;
    text-decoration: none;
}

.nav-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-flex-container div {
    flex-basis: 6%;
    margin: 0;
    line-height: 80px;
    text-align: center;
}

#companyName{
    flex-basis: 70%;
    text-align: left;
    padding-left: 1em;
    font-size: 2em;
}

.link:hover {
    background-color: rgba(0,0,0, .15);
}

.locale select {
    background-color: #F8F4E5;
    border: 2px solid rgba(0,0,0, .3);
}