<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<a th:href="@{'/transaction/transaction?portfolioId=' + ${portfolioId}}">
    <button type="button">Add new transaction</button>
</a><br>
<form th:action="@{/transaction/transactions}" method="get">
    <label for="portfolioId">
        <input id="portfolioId" type="text" name="portfolioId" th:value="${portfolioId}" hidden="hidden">
    </label>
    <label for="findAsset">Find Asset
        <input id="findAsset" type="text" name="findAsset">
    </label>
    <label for="sortBy">Sort by</label>
    <select id="sortBy" name="sortBy">
        <option th:each="sortingOrder : ${sortingOrders}"
        th:value="${sortingOrder}"
        th:text="${sortingOrder.order}"
        th:selected="${currentSortingOrder.equals(sortingOrder)}">Sort by
        </option>
    </select>
    <label for="pageSize">Transactions pet page</label>
    <select id="pageSize" name="pageSize">
        <option th:each="pageSize : ${pageSizeOptions}"
        th:value="${pageSize}"
        th:text="${pageSize.size}"
        th:selected="${currentPageSize.equals(pageSize.size)}">Transactions pet page</option>
    </select>
    <button type="submit">Submit</button>
</form>
    <table>
        <caption>Open Transactions</caption>
        <thead>
        <tr>
            <th>Asset</th>
            <th>L/S</th>
            <th>Open time</th>
            <th>Open price</th>
            <th>Volume</th>
            <th>Current Price</th>
            <th>Profit</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${openTransactions}">
            <td th:text="${transaction.assetName}">Asset</td>
            <td th:text="${transaction.positionDirection}">L/S</td>
            <td th:text="${transaction.openDate}">Open time</td>
            <td th:text="${transaction.openPrice}">Open price</td>
            <td th:text="${transaction.volume}">Volume</td>
            <td th:text="${transaction.currentPrice}">Price</td>
            <td th:text="${transaction.profit}">Profit</td>
            <td><a th:href="@{|/transaction/transaction/update/${transaction.id}|}">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <table>
        <caption>Closed Transactions</caption>
        <thead>
        <tr>
            <th>Asset</th>
            <th>L/S</th>
            <th>Open time</th>
            <th>Open price</th>
            <th>Volume</th>
            <th>Close Price</th>
            <th>Close Date</th>
            <th>Profit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${closedTransactions}">
            <td th:text="${transaction.assetName}">Asset</td>
            <td th:text="${transaction.positionDirection}">L/S</td>
            <td th:text="${transaction.openDate}">Open time</td>
            <td th:text="${transaction.openPrice}">Open price</td>
            <td th:text="${transaction.volume}">Volume</td>
            <td th:text="${transaction.closePrice}">Price</td>
            <td th:text="${transaction.closeDate}">Close Date</td>
            <th th:text="${transaction.profit}">Profit</th>
        </tr>
        </tbody>
    </table>
<form th:if="${totalPages > 1}" th:action="@{/transaction/transactions(portfolioId = ${portfolioId})}" method="get">
    <span th:each="page:${#numbers.sequence(0, totalPages - 1)}">
        <a th:href="@{/transaction/transactions(portfolioId = ${portfolioId}, page = ${page})}" th:text="${page + 1}"></a>
    </span>
</form>
</body>
</html>