<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Transaction</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form th:action="@{/transaction/transaction(portfolioId = ${portfolioId})}" method="post">
    <label for="assetName">Asset name:
        <input id="assetName" type="text" name="assetName">
    </label><br>
    <div>
        <label for="assetType">Asset type:</label>
        <select id="assetType" name="assetType">
            <option th:each="type : ${assetTypes}"
                    th:value="${type}"
                    th:text="${type}">Asset type:
            </option>
        </select>
    </div>
    <div th:each="direction : ${positionDirections}">
        <input id="${direction}" type="radio" name="direction" th:value="${direction}"
               th:checked="${direction.equals(direction.LONG)}">
        <label th:for="${direction}" th:text="${direction}">Transaction direction:</label>
    </div>
    <br>
    <label for="volume">Volume:
        <input id="volume" type="number" step="0.00001" name="volume">
    </label><br>
    <label for="openPrice">Open price:
        <input id="openPrice" type="number" step="0.00001" name="openPrice">
    </label><br>
    <label for="openDate">Open date and time:
        <input id="openDate" type="datetime-local" name="openDate">
    </label><br>
    <label for="closePrice">Close price:
        <input id="closePrice" type="number" step="0.00001" name="closePrice">
    </label><br>
    <label for="closeDate">Close date and time:
        <input id="closeDate" type="datetime-local" name="closeDate">
    </label><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>