<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{transaction.create.header}"/>
    <link th:href="@{/css/transaction.css}" rel="stylesheet">
</head>
<body>
<header class="main-header">
    <nav class="nav-bar">
        <div class="nav-flex-container">
            <div id="companyName">Portfolio Manager</div>
            <div class="link"><a th:href="@{'/home'}">Home</a></div>
            <div class="link"><a th:href="@{'/user'}">User Page</a></div>
            <div class="link"><a th:href="@{'/logout'}" th:text="#{header.logout}"></a></div>
            <div class="link"><a href="https://instagram.com">Insta</a></div>
        </div>
    </nav>
</header>
<form th:action="@{/transaction/transaction(portfolioId = ${portfolioId})}" method="post">
    <label for="assetName"><span th:text="#{transaction.create.assetName}"/>
        <input class="align" id="assetName" type="text" name="assetName">
    </label>
    <div>
        <label for="assetType"><span th:text="#{transaction.create.assetType}"/></label>
        <select class="align" id="assetType" name="assetType">
            <option th:each="type : ${assetTypes}"
                    th:value="${type}"
                    th:text="${type}">Asset type:
            </option>
        </select>
    </div>
    <div th:each="direction : ${positionDirections}">
        <input id="${direction}" type="radio" name="direction" th:value="${direction}"
               th:checked="${direction.equals(direction.LONG)}">
        <label th:for="${direction}" th:text="${direction}"><span th:text="#{transaction.create.transactionDirection}"/></label>
    </div>
    <label for="volume"><span th:text="#{portfolio.page.volume}"/>
        <input class="align" id="volume" type="number" step="0.00001" name="volume">
    </label>
    <label for="openPrice"><span th:text="#{portfolio.page.openPrice}"/>
        <input class="align" id="openPrice" type="number" step="0.00001" name="openPrice">
    </label>
    <label for="openDate"><span th:text="#{portfolio.page.openDate}"/>
        <input class="align" id="openDate" type="datetime-local" name="openDate">
    </label>
    <label for="closePrice"><span th:text="#{portfolio.page.closePrice}"/>
        <input class="align" id="closePrice" type="number" step="0.00001" name="closePrice">
    </label>
    <label for="closeDate"><span th:text="#{portfolio.page.closeDate}"/>
        <input class="align" id="closeDate" type="datetime-local" name="closeDate">
    </label>
    <button type="submit">Submit</button>
</form>
</body>
</html>