<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
    <table>
        <caption>Open Transactions</caption>
        <thead>
        <tr>
            <th>Asset</th>
            <th>L/S</th>
            <th>Open time</th>
            <th>Open price</th>
            <th>Volume</th>
            <th>Current Price</th>
            <th>Profit</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${openTransactions}">
            <td th:text="${transaction.assetName}">Asset</td>
            <td th:text="${transaction.positionDirection}">L/S</td>
            <td th:text="${transaction.openDate}">Open time</td>
            <td th:text="${transaction.openPrice}">Open price</td>
            <td th:text="${transaction.volume}">Volume</td>
            <td th:text="${transaction.currentPrice}">Price</td>
            <td th:text="${transaction.profit}">Profit</td>
            <td><a th:href="@{|/transaction/transaction/update/${transaction.id}|}">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <table>
        <caption>Closed Transactions</caption>
        <thead>
        <tr>
            <th>Asset</th>
            <th>L/S</th>
            <th>Open time</th>
            <th>Open price</th>
            <th>Volume</th>
            <th>Close Price</th>
            <th>Close Date</th>
            <th>Profit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${closedTransactions}">
            <td th:text="${transaction.assetName}">Asset</td>
            <td th:text="${transaction.positionDirection}">L/S</td>
            <td th:text="${transaction.openDate}">Open time</td>
            <td th:text="${transaction.openPrice}">Open price</td>
            <td th:text="${transaction.volume}">Volume</td>
            <td th:text="${transaction.closePrice}">Price</td>
            <td th:text="${transaction.closeDate}">Close Date</td>
            <th th:text="${transaction.profit}">Profit</th>
        </tr>
        </tbody>
    </table>
</body>
</html>