<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Transaction</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form th:action="@{/transaction/transaction/update(portfolioId = ${portfolioId}, transactionId = ${transaction.id})}" method="post">
    <div th:text="|Asset name : ${transaction.assetName}|"></div> <br>
    <div th:text="|Asset type: ${transaction.assetType}|"></div> <br>
    <div th:text="|Transaction direction : ${transaction.positionDirection}|"></div> <br>
  <!--  <label for="assetName">Asset name:
        <input id="assetName" type="text" name="assetName" th:value="${transaction} ? ${transaction.assetName} : ''">
    </label><br>
    <div>
        <label for="assetType">Asset type:</label>
        <select id="assetType" name="assetType">
            <option th:each="type : ${assetTypes}"
                    th:value="${type}"
                    th:text="${type}"
                    th:selected="${type.equals(transaction.assetType)}">Asset type:
            </option>
        </select>
    </div>
    <div th:each="direction : ${positionDirections}">
        <input id="${direction}" type="radio" name="direction" th:value="${direction}"
            th:checked="${direction.equals(transaction.positionDirection)}">
        <label th:for="${direction}" th:text="${direction}">Transaction direction:</label>
    </div><br>-->
    <label for="volume">Volume:
        <input id="volume" type="number" step="0.00001" name="volume" th:value="${transaction} ? ${transaction.volume} : ''">
    </label><br>
    <label for="openPrice">Open price:
        <input id="openPrice" type="number" step="0.00001" name="openPrice" th:value="${transaction} ? ${transaction.openPrice} : ''">
    </label><br>
    <label for="openDate">Open date and time:
        <input id="openDate" type="datetime-local" name="openDate" th:value="${transaction} ? ${transaction.openDate} : ''">
    </label><br>
    <label for="closePrice">Close price:
        <input id="closePrice" type="number" step="0.00001" name="closePrice" th:value="${transaction} ? ${transaction.closePrice} : ''">
    </label><br>
    <label for="closeDate">Close date and time:
        <input id="closeDate" type="datetime-local" name="closeDate" th:value="${transaction} ? ${transaction.closeDate} : ''">
    </label><br>
    <button type="submit">Update</button>
</form>
</body>
</html>