<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <!--    <link th:href="@{/css/header.css}" rel="stylesheet">-->
</head>
<body>
<div th:fragment="header" class="header-block">
    <ul class="menu">
        <li><a th:href="@{|/user/${#authentication.principal.id}|}"
               th:text="${#authentication.principal.username}">Username</a>
        </li>
        <li><a th:href="@{/logout}" th:text="#{header.logout}"/></li>
    </ul>
    <div th:insert="~{fragment :: locale}"></div>
</div>
<div th:fragment="locale">
    <form action="">
        <select name="lang" onchange="this.form.submit()">
            <option></option>
            <option value="en">EN</option>
            <option value="ru">RU</option>
        </select>
    </form>
</div>
</body>
</html>