<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link th:href="@{/css/homePage.css}" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <nav class="nav-bar">
                <div class="nav-flex-container">
                    <div id="companyName">Portfolio Manager</div>
                    <div class="link"><a th:href="@{'/home'}">Home</a></div>
                    <div class="link" th:if="${authenticated }"><a th:href="@{'/user'}">User Page</a></div>
                    <div class="link" th:if="${authenticated}"><a th:href="@{'/logout'}" th:text="#{header.logout}"></a></div>
                    <div class="link" th:if="${!authenticated}"><a th:href="@{'/registration'}" th:text="#{header.registration}"></a></div>
                    <div class="link" th:if="${!authenticated}"><a th:href="@{'/login'}" th:text="#{header.login}"></a></div>
                    <div th:insert="~{fragment::locale}"></div>
                </div>
            </nav>
        </header>
        <div>
            <div class="entrance">
                <div class="entrance-column-block">
                    <div class="entrance-text-large">
                        <p th:text="#{home.entrance-text-large1}"/>
                        <p th:text="#{home.entrance-text-large2}"/>
                    </div>
                    <div class="entrance-text-normal">
                        <p th:text="#{home.entrance-text-normal1}"/>
                        <p th:text="#{home.entrance-text-normal2}"/>
                    </div>
                </div>
                <div class="entrance-image">
                    <img style="width: 500px;" src="/images/image1.png">
                </div>
            </div>
            <div class="features">
                <div class="features-block">
                    <img class="features-image" src="/images/image3.jpg">
                    <div class="features-text">
                        <h3 th:text="#{home.features1}"/>
                        <p th:text="#{home.features2}"/>
                    </div>
                </div>
                <div class="features-block">
                    <img class="features-image" src="/images/image6.jpg" alt="">
                    <div class="features-text">
                        <h3 th:text="#{home.features3}"/>
                        <p th:text="#{home.features4}"/>
                    </div>
                </div>
                <div class="features-block">
                    <img class="features-image" src="/images/image4.jpg" alt="">
                    <div class="features-text">
                        <h3 th:text="#{home.features5}"/>
                        <p th:text="#{home.features6}"/>
                    </div>
                </div>
            </div>
            <div class="about">
                <h2 th:text="#{home.aboutUs}"/>
                <p th:text="#{home.aboutText}"/>
            </div>
        </div>
    </body>
</html>