<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:insert="~{fragment :: locale}"></div>
<form th:action="@{/login}" method="post">
    <div style="color: red" th:if="${param.error}">
        Bad Credentials
    </div>
    <label for="username"><span th:text="#{login.username}">Email:</span>
        <input id="username" name="username" type="email">
    </label>
    <label for="password"><span th:text="#{login.password}">Password:</span>
        <input id="password" name="password" type="password">
    </label>
    <button type="submit">Login</button>
</form>
<a href="/registration"><button type="button">Create new account</button></a>
</body>
</html>