<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<form th:action="@{/login}" method="post">
    <div class="login-form">
        <input type="email" name="username" id="username" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Password">
        <button type="submit">Login</button>
        <p>Not registered? <a href="/registration">Create an account</a></p>
    </div>
    <div style="color: red" th:if="${param.error}">
        <div th:text="#{login.badCredentials}"></div>
    </div>
</form>
</body>
</html>