<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{registration.register}"/>
    <link th:href="@{/css/registration.css}" rel="stylesheet">
</head>
<body>
<form action="/registration" method="post">
    <div class="registration-form">
        <input type="email" name="email" th:placeholder="#{registration.email}" required>
        <input type="password" name="password" th:placeholder="#{registration.password}" required>
        <input type="date" name="birthDate" th:placeholder="#{registration.birthDate}" required>
        <input type="text" name="firstname" th:placeholder="#{registration.firstname}" required>
        <input type="text" name="lastname" th:placeholder="#{registration.lastname}" required>
        <button type="submit" th:text="#{registration.submit}"/>
        <p th:text="#{registration.haveAccount1}" /><a th:href="@{/login}"><span th:text="#{registration.haveAccount2}"></span></a>
        <div th:if="${errors}">
            <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error Message</p>
        </div>
    </div>
</form>
</body>
</html>