<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Telegram auth</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<br>
<span th:text="|Follow the |"/><a th:href="@{https://t.me/PortfolioAssistant_bot}">Bot_Link</a>
<div th:text="|And send the following messsage :|"/>
<div th:text="|#email:${email} #token:${authenticationToken}|"/>
<br>
<a th:href="@{'/user'}"><button th:text="|Back to User Page|"/></a>

</body>
</html>