<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{portfolio.create.header}"/>
    <link th:href="@{/css/portfolioCreatePage.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragment::header}"></div>
<form th:action="@{/portfolio/create}" method="post">
    <div class="form">
        <input type="text" name="name" th:placeholder="#{portfolio.create.name}" required>
        <input type="text" name="description" th:placeholder="#{portfolio.create.description}">
        <button type="submit" th:text="#{portfolio.create.create}"/>
    </div>
</form>
</body>
</html>