<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{portfolio.page.header}"/>
    <link th:href="@{/css/portfolioPage.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragment::header}"></div>
<div class="data-area">
    <div class="buttons">
        <a th:href="@{'/transaction/transaction/' + ${portfolioId}}">
            <button type="button" th:text="#{portfolio.page.addTransaction}"/>
        </a>
        <a th:href="@{'/transaction/transactions/' + ${portfolioId}}">
            <button type="button" th:text="#{portfolio.page.viewTransactions}"/>
        </a>
    </div>
    <div th:if="${openPositions == null && closedPositions == null}" th:text="#{portfolio.page.emptyPortfolioMessage}"/>
    <div class="tables">
        <div th:if="${openPositions}">
            <table>
                <caption th:text="#{portfolio.page.openPositions}"/>
                <thead>
                <tr>
                    <th th:text="#{portfolio.page.name}"/>
                    <th th:text="#{portfolio.page.direction}"/>
                    <th th:text="#{portfolio.page.volume}"/>
                    <th th:text="#{portfolio.page.openPrice}"/>
                    <th th:text="#{portfolio.page.openDate}"/>
                    <th th:text="#{portfolio.page.currentPrice}"/>
                    <th th:text="#{portfolio.page.profit}"/>
                </tr>
                </thead>
                <tbody>
                <tr th:each="position : ${openPositions}">
                    <td th:text="${position.assetName}">name</td>
                    <td th:text="${position.direction}">direction</td>
                    <td th:text="${position.quantity}">quantity</td>
                    <td th:text="${position.openPrice}">openPrice</td>
                    <td th:text="${position.openDate}">openDate</td>
                    <td th:text="${position.currentPrice}">currentPrice</td>
                    <td th:text="${position.profit}">profit</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${closedPositions}">
            <table class="longer">
                <caption th:text="#{portfolio.page.closedPositions}"/>
                <thead>
                <tr>
                    <th th:text="#{portfolio.page.name}"/>
                    <th th:text="#{portfolio.page.direction}"/>
                    <th th:text="#{portfolio.page.volume}"/>
                    <th th:text="#{portfolio.page.openPrice}"/>
                    <th th:text="#{portfolio.page.openDate}"/>
                    <th th:text="#{portfolio.page.closePrice}"/>
                    <th th:text="#{portfolio.page.closeDate}"/>
                    <th th:text="#{portfolio.page.profit}"/>
                </tr>
                </thead>
                <tbody>
                <tr th:each="position : ${closedPositions}">
                    <td th:text="${position.assetName}">name</td>
                    <td th:text="${position.direction}">direction</td>
                    <td th:text="${position.quantity}">quantity</td>
                    <td th:text="${position.openPrice}">openPrice</td>
                    <td th:text="${position.openDate}">openDate</td>
                    <td th:text="${position.closePrice}">closePrice</td>
                    <td th:text="${position.closeDate}">closeDate</td>
                    <td th:text="${position.profit}">profit</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>